#Why is markdown useful
- shorthand for HTML
write markdown cells above our python code

In [1]:
greeting = 'Hi everybody!'
print(greeting)

Hi everybody!

In [1]:
True

True

In [2]:
False

False

In [3]:
print("True")

True

In [5]:
total = 0
total += 1.99 # '+=' is an operator
total

1.99

In [7]:
3 not in [5, 6, 7] # Boolean

True

In [11]:
from pydataset import data
df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

### logical operators
- not: switches the boolean value
- and: makes sure both pieces are true (limiting)
- or: making sure at least one piece is true (expanding)

### mathematical operators
- modulo: 5%2 = 1 >> five divided by two leaves one
- floor (quotient): 2//3 = 1 >> two divides into three once, fully

### strings
- if we need a string that contains characters including (") or ('), use 
- ("""...""")
- or docstring